@import '../variables';

.boton {
    background-color: $amarillo;
    border-radius: 8px;
    height: 30px;
    width: 170px;
}

.hacerCompra {
    button {
        background-color: $amarillo;
        color: $negro !important;
        height: 30px;
    }
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}