@import '../variables';

.content {
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    width: 300px;

    &:hover {
        transform: scale(1.05);
        transition: all 0.5s;
    }

    .card-body {
        align-items: center;
        background-color: #f3f3f3;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 15px;
        padding: 15px;

        .imgMain {
            border-radius: 8px;
            background: linear-gradient(225deg, #cacaca, #f0f0f0);
            box-shadow: -20px 20px 60px #bebebe,
                20px -20px 60px #ffffff;
            height: 200px;
            object-fit: cover;
            width: 200px;
        }

        h1 {
            font-size: 23px;
        }

        a {
            color: black !important;

        }
    }
}