@import '../../variables';

.banner {
    position: relative;
    z-index: 1;

    .opacity {
        background-color: rgba(0, 0, 0, 0.627);
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;

        h1 {
            color: white;
            font-size: 5rem;
        }

        q {
            color: white;
            font-size: 1.5rem;
        }
    }

    .carousel {
        height: 100vh;

        img {
            object-fit: cover;
            @include sizes (100vh, 100%);
        }
    }
}